<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link>
    <meta charset="UTF-8"/> <!--必须要有结束的反斜线-->
    <title>echarts例子</title>
    <script th:src="@{/js/echarts.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css}" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1000px;height:400px;"></div>
    <div id="main1" style="width: 1000px;height:500px;"></div>
    <div id="main2" style="width: 1000px;height:400px;"></div>
    <script type="text/javascript" th:src="@{/js/user2.js}"></script>
    <script type="text/javascript" th:src="@{/js/user.js}"></script>
    <script type="text/javascript" th:src="@{/js/user1.js}"></script>

<body>



</body>
</html>