<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/> <!--必须要有结束的反斜线-->
    <title>修改页面</title>
</head>
<body>
    <!--field用户回填-->
    <form th:action="@{/users/editUser}" method="post">
        <input type="hidden" name="id" th:field="${user.id}"/>
        用户姓名：<input type="text" name="name" th:field="${user.name}"/><br/>
        用户年龄：<input type="text" name="age" th:field="${user.age}"/><br/>
        <input type="submit" value="确定"/><br/>
    </form>

</body>
</html>